@charset "utf-8";
/*Author: Ege PERIM*/
body
{
	background-image:url(images/travel.jpg);
	background-size: 1980px 1080px;
	position: absolute;
  	right: 40px;
  	margin: 180px;
  	top: -80px;

  	
}
#header
{
	/* background-color:rgba(255,153,0,0.6);
	*/
	/*background:linear-gradient( rgba(255,204,0,0.8) , rgba(204,153,0,0.8) );*/
	height:60px;
	/*box-shadow:0px 0px 100px #000000;*/
}
.headingMain
{
	font-family:"Segoe UI";
	font-size:40px;
	color:#4FFFB0;
	text-shadow:4px 4px 4px #000000;
	font-weight: bolder;
}
.design
{
		padding:10px;
		box-shadow:0px 0px 40px #201312;
}

.labels
{
	font-family:"Segoe UI";
	font-style:italic;
	font-size:14px;
	color:#000;
	font-weight: bolder;
}
.fields
{
	background-color:transparent;
	border:2px solid #C60;
	color:#000;
	padding:5px;
	
}
.upload
{
	background-color:transparent;
	border:2px solid #C60;
	color:#000;
	padding:5px;
	cursor: pointer;
	
}
.button
{	
	background-color: skyblue;
	font-size: 15px;
	border:4px solid #C60 ;
	color: #FF7F00;
	padding:2px;
	cursor: pointer;
	width: 100px;
	font-weight: bolder;

}
.link
{
	border:4px solid #C60 ;
	padding: 2px;

}

a.link:link{font-family:"Segoe UI";font-size:16px;color:#000;text-decoration:none;}
a.link:active{font-family:"Segoe UI";font-size:16px;color:#000;text-decoration:none;}
a.link:visited{font-family:"Segoe UI";font-size:16px;color:#000;text-decoration:none;}
a.link:hover{font-family:"Segoe UI";font-size:16px;color:#FFF;text-decoration:none;}

.subHead
{
	font-family:"Arial Black";
	color:blue;
	font-size:26px;
	font-weight: bolder;
	text-decoration: underline;

}
.info
{
	font-family:"Arial Narrow";
	color:#333;
	font-size:16px;
}
.delete
{
	color: #d50000;
	font-size: 17px;

}
.approve
{
	color: #66FF00;


}
a.cmd:link{font-family:"Segoe UI";font-size:20px;color:#000;text-decoration:none;padding:10px;border-radius:10px;}
a.cmd:active{font-family:"Segoe UI";font-size:20px;color:#000;text-decoration:none;}
a.cmd:visited{font-family:"Segoe UI";font-size:20px;color:#000;text-decoration:none;}
a.cmd:hover{font-family:"Segoe UI";font-size:20px;color:#FFF;text-decoration:none;}
